body{
    background-color: rgb(236, 236, 236);
    font-family: "Plus Jakarta Sans", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2,h5{
    text-align: center;
}
.container{
    flex: 1;
}
.fa-compass{
    color:#ff5a5f;
}
.add-btn{
    background-color: #ff5a5f !important;
    color: #fff !important;
}
.listing{
    list-style-type: none;
}
.listing a{
    text-decoration: none;
    color: rgb(189, 32, 32);
}
.title-show-route{
    color: rgb(189, 32, 32);
}

/* footer */
.footer {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #dcdee0;
    padding: 10px 0;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.footer-info-socials {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    width: 100%;
}
.footer-info-socials i {
    margin: 0 4px;
    cursor: pointer;
}
.footer-info-terms a {
    width: 100%;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}
.footer-info-company-tag {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.form-label{
    color:#464646;
}
/* cards */
.list-cards{
    text-decoration: none;
}
.card{
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    padding: 2px 5px;
}
.row{
    margin: 0 20px;
    height: 530px;
}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    object-fit:cover;
}
.card-body{
    padding: 0;
}
.card-img-overlay{
    background-color: aliceblue;
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
}

/* show route */
.btns{
    display: flex;
}
.btns a{
    margin-right: 8px;
}

.alert{
 /* margin-top: 30px; */
 animation-name: alert;
 animation-duration: 0.4s;
 z-index: 5;
 position: fixed;
 right: 10px;
 bottom: 80px;
}

@keyframes alert{
    0%{
        bottom: 0;
    }
    25%{
        bottom: 20px;
    }
    50%{
        bottom: 40px;
    }
    75%{
        bottom: 60px;
    }
    100%{
        bottom: 80px;
    }
}

/* review */
.form-range{
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    padding: 0 8px;
}
.all-reviews{
    display: flex;
    flex-wrap: wrap;
}
.review{
    margin-right: 10px;
    padding: 6px 14px;
}
.card-title{
    text-align: start;
}

/* alert */
.alert-dismissable{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    font-weight: 500;
}

/* profile */
#profile-user-icon{
    font-size: 15rem;
}
#profile-user{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* edit form */
.image-input-container{
    margin: 30px 0;
    border: 2px solid rgb(142, 141, 141);
    border-radius: 5px;
    padding: 10px;
}

/* login page */
#registerBtn{
    position: relative;
    left: 80px;
    bottom: 53px;
}
/* singup page */
#loginBtn{
    position: relative;
    bottom: 53px;
    left: 95px;
}

/* responsiveness */
@media(max-width: 576px){
    .row{
        margin: 0;
    }
}