<% layout("layouts/boilerplate.ejs") -%>
<div class="raw mt-4">
    <div id="profile-user" class="col-6 offset-3">
        <i id="profile-user-icon" class="fa-solid fa-circle-user mb-1"></i>
        <h5><%=currentUser.username%></h5>
        <p> Email: <%=currentUser.email%></p>
    </div>
</div>
